.textTitleWhite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5675rem;
    color: #ffffff;
  }
}
.textTitleBlue {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5675rem;
    color: #61DAFB;
  }
}
.textTitleGrey {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5675rem;
    color: #DEEBF8;
  }
}
.textHeadingWhite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5675rem;
    color: #ffffff;
  }
}
.textHeadingBlue {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5675rem;
    color: #61DAFB;
  }
}
.textHeadingGrey {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5675rem;
    color: #DEEBF8;
  }
}
.textSubHeadingWhite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5675rem;
    color: #ffffff;
  }
}
.textSubHeadingBlue {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5675rem;
    color: #61DAFB;
  }
}
.textSubHeadingGrey {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5675rem;
    color: #DEEBF8;
  }
}
.textBodyWhite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5675rem;
    color: #ffffff;
  }
}
.textBodyBlue {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5675rem;
    color: #61DAFB;
  }
}
.textBodyGrey {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5675rem;
    color: #DEEBF8;
  }
}
.textListBodyWhite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5675rem;
    color: #ffffff;
  }
}
.textListBodyBlue {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5675rem;
    color: #61DAFB;
  }
}
.textListBodyGrey {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5675rem;
    color: #DEEBF8;
  }
}