.textTitleWhite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  
  .value {
    margin: 0;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5675rem;
    letter-spacing: -0.05em;
    color: #ffffff;
  }
}
.textTitleBlue {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5675rem;
    letter-spacing: -0.05em;
    color: #61DAFB;
  }
}
.textTitleGrey {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;

  .value {
    margin: 0;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5675rem;
    letter-spacing: -0.05em;
    color: #DEEBF8;
  }
}