.header {
  padding: 2rem;
  background-color: #21222A;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;

  .logo {
    align-self: flex-start;
    display: flex;
    pointer-events: none;
  }

  .title {
    flex: 1 0 auto;
    align-self: center;
  }

  .description {
    align-self: center;
  }
}